<div id="app">
</div>


<p id='intro'> Aux Cord is everything you ever wish you could do with Spotify and so much more.
  Create playlists that multiple people can collaborate on. Create parameters so that everyone gets
  an equal chance to contribute. The must have app for every party you've ever had ever.
  Requires Spotify premium so pay up and sign on in.</p>
