#intro {
  color: #F6F8F8;
  text-align: center;
  border: 1px solid #ccc;
  width: 100%;
  height: 120px;
  font-size: 30px;
}

body {
  background-color: #0D325C;
}

#billboard {
  color: #F6F8F8;
  text-align: center;
  box-shadow: inset 0 60px 70px rgba(0,0,0,0.4);
  background-color: #1ED760;
  font-size: 40px;
}

#sign {
  text-align: center;
  color: #F6F8F8;
  font-weight: bold;
  font-size: 20px;
  background-color: #1ED760;
}
